/*
	Sintaxe:

	selector { propriedade: valor(es); }




*/

html{

	background-color: white;
}






body{
	width: 70%;
	background-color: #F0F0F0;
	box-shadow: 0 0 2px 3px #E0E0E0; /*http://www.w3schools.com/cssref/css3_pr_box-shadow.asp*/
	padding: 6 0px;
	margin: 0 auto;
	font-family: Georgia, Times, serif; 
	}
	

	h1,h2,h3,h4,h5,h6{
		font-family: Verdana, Helvetica, sans-serif;
	}
	h1{
		font-weight: 100;
	}
	header nav{
		text-align: center;
	}
	header nav a{
		text-decoration: none;
		color: red;
	}
	header nav>ul>li>a{
		display: inline-block; 
		padding: 3px;
		color: red;
		text-decoration: none;
		border:1px solid red;
		width: 180px;
		height: 45px;
		text-align: center;
		line-height: 45px;
		text-transform: uppercase;
		font-family: Arial;
		font-size: 80%;
		margin-right: 20px;
	}	
	header nav>ul>li>a:hover{
		background-color: red;
		color: white; 

	}

	header nav>ul>li:last-child>a{
		margin-right: 0;		
	}

	header nav ul ul{
		display: none;
		padding: 0;
		background-color: 0;
		width:180px;
		position: absolute;
		left:0;
	}
	header nav ul ul:hover{
		display: block;	 
	}
	header nav>ul>li>a:hover+ul{
		display: block;
		height: ;

	}
	header nav>ul>li>ul>li{
		list-style: none;
	}
	header nav>ul>li>ul>li>a{
		display:block;
		height:45px;
		width:186px;
		border:1px solid red;
		border-top: 0;
		text-decoration: none;
		font-family: Arial;
		font-size: 70%;
		line-height: 45px;
		text-transform: uppercase;
		color: red;

	}
	header nav>ul>li{
		display: inline-block;
		position: relative;
		height: 45px;
		list-style: none; /*http://www.w3schools.com/cssref/pr_list-style.asp*/
	}
	header nav>ul>li>a{
		display: block;
		height: 45px;
		width: 180px;


	p{
		color:#333;
	}
	








