/*
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.css');
*/

body{
	background-image: url('../img/confectionary.png');
}
p{
	margin-top: 0;
}
div#wrapper{
	background-color: rgba(0,0,0,0.1);
	width:90%;
	max-width: 960px;
	margin: 0 auto;
}
header{
	background-color: rgba(255,0,0,0.2);
	height:150px;
}
article{
	background-color: rgba(0,255,0,0.2);
	float:left;
	width: 70%;
	height: 400px
}
aside{
	background-color: rgba(0,0,255,0.2);
	float:right;
	width:30%;
	height: 400px;
}
footer{
	height: 150px;
	background-color: rgba(255,255,0,0.2);
	clear:both;
}

@media (max-width: 600px) {
	footer{
		background-color: rgba(255,0,255,0.2);
	}

}