/*
	Sintaxe:
	selector { propriedade: valor(es); }
*/

/* ------------------  Formatações Gerais   ------------------ */
html{
	background: url('../img/confectionary.png');
	background-attachment: fixed;
}
body{
	width: 930px;
	background-color: rgba(255,255,255,0.6);
	/*box-shadow: 0 0 5px 4px #e0e0e0;*/
	padding: 60px;
	margin: 0 auto;
	font-family: Georgia, Times, serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: Verdana, Helvetica, sans-serif;
}
h1{
	font-weight: 100;
}
p{
	color:#333;
}

/* ------------------  Navegação Principal   ------------------ */
header nav{
	text-align: center;
}
header nav ul{
	padding:0;
}

/* ---------- Botões Principais ------------ */
header nav>ul>li>a{
	text-decoration: none;
	display: block;
	color:red;
	padding:5px;
	border:1px solid red;
	width:180px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	text-transform: uppercase;
	font-family: Arial;
	margin-right: 20px;
	font-size: 80%;
}
header nav>ul>li:last-child>a{
	margin-right: 0;
}
header nav>ul>li>a:hover{
	background-color: red;
	color:white;
}
/* ---------- Botões Sub Menu ------------ */
header nav>ul>li{
	list-style: none;
	display: inline-block;
	position: relative; /* - Referência para posicionamento sub-menus - */
}
header nav ul ul{
	display: none;
	width:192px;
	position: absolute;
	left:0;
}
header nav ul ul:hover, header nav>ul>li>a:hover+ul{
	display: block;
}
header nav>ul>li>ul>li{
	list-style: none;
}
header nav>ul>li>ul>li>a{
	display:block;
	height:36px;
	width:190px;
	border:1px solid red;
	border-top: none;
	text-decoration: none;
	font-family: Arial;
	font-size: 70%;
	line-height: 36px;
	text-transform: uppercase;
	color:red;
}
header nav>ul>li>ul>li>a:hover{
	background-color: red;
	color: white;
}
/* ------------------  Tabelas   ------------------ */
table{
	border-collapse: collapse;
	border-color: black;
}
td, th{
	padding: 12px;
}
/* --- Linhas Pares --- */
tr:nth-child(2n){
	background-color: white;
}
/* --- Linhas Ímpares --- */
tr:nth-child(2n+1){
	background-color: grey;
	color:white;
}
tr:hover{
	background-color: lime;
	color:black;
}
#tabs h4{
	margin-top: 0px;
}
#tabs table:nth-child(4n) {
	position: absolute;
}
#tabs table:nth-child(4n+2) {
	position:relative;
	left: 380px;
	bottom: 40px;
}
#tabex2, #tabex4{
	position:relative;
	left: 380px;
	bottom: 40px;
}

