/*
	Sintaxe:

	selector { propriedade: valor(es); }
	
/*---------------------Formatações Gerais ------------------- */
html{
	background-color: white;
}
body{
	width: 930px;
	background-color: #f0f0f0;
	box-shadow: 0 0 5px 4px #e0e0e0;
	padding: 60px;
	margin: 0 auto;
	font-family: Georgia, Times, serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: Verdana, Helvetica, sans-serif;
}
h1{
	font-weight: 100;
}
p{
	color:#333;
}

/*---------------------Navegação Principal ------------------- */

header nav{
	text-align: center;
}
header nav ul{
	padding: 0; /* Evita avanço do browser à esquerda */
}
header nav>ul>li{
	list-style: none;
	display: inline-block;
	position: relative; /* Referência para posicionar os sub-menus */
	height: 57px;
}
header nav>ul>li>a{
	text-decoration: none;
	display: inline-block; /* o inline coloca o width em auto e não aplica as nossas dimensões */
	color:red;
	padding: 5px;
	border: 1px solid;
	width: 180px;
	height: 45px;
	text-align: center;
	line-height: 45px; /* Para alinhar texto na vertical, deve-se pôr o mesmo valor que o height */
	text-transform: uppercase;
	font-family: Arial;
	margin-right: 20px;
	font-size: 80%;
}

header nav>ul>li:last-child>a{ /* Só mexer com a última ligação */
	margin-right: 0;
}
header nav>ul>li>a:hover{
	background-color: red;
	color:white;	
}
header nav>ul>li>ul>li>a:hover{
	background-color: white;
	color: red;
}
header nav ul ul{
	display: none;
	background-color: red;
	width: 192px; /* width + padding 5 + 5 + border 1+1 */
	position: absolute;
}
header nav ul ul:hover{
	display: block;
}
header nav>ul>li>a:hover+ul{
	display: block;	
}
header nav>ul>li>ul>li{
	list-style: none;	
}
header nav>ul>li>ul>li>a{
	display: block;
	height: 36px;
	width: 190;	
	border: 1px solid red;
	border-top:none;
	text-decoration: none;
	font-family: Arial;
	font-style: 70%;
	line-height: 36px;
	text-transform: uppercase;
	color:white;
}


