/*
	Sintaxe:

	selector { propriedade: valor(es); }




*/

 		/* ------------- Formatações Gerais -------------- */
html{

	background-image: url('yo.png');
}






body{
	width: 70%;
	/*background-color:rgba(255,255,255, 0.3);*/
	box-shadow: 0 0 2px 3px #E0E0E0; /* http://www.w3schools.com/cssref/css3_pr_box-shadow.asp */
	padding: 60px;
	margin: 0 auto;
	font-family: Georgia, Times, serif; 
	}
	
	p{
		color:#333;
	}
		

	h1,h2,h3,h4,h5,h6{
		font-family: Verdana, Helvetica, sans-serif;
	}
	h1{
		font-weight: 100;
	}
		/* ------------- Navegação Principal -------------- */
	
	header nav{
		text-align: center;
	}
	header nav ul{
		padding:0;
	}

		/* ---------- Formatação dos botões ----------*/
	header nav>ul>li>a{
		display: inline-block; 
		padding: 3px;
		color: red;
		text-decoration: none;
		border:1px solid red;
		width: 180px;
		height: 45px;
		text-align: center;
		line-height: 45px;
		text-transform: uppercase;
		font-family: Arial;
		font-size: 80%;
		margin-right: 20px;
	}	
	header nav>ul>li>a:hover{
		background-color: red;
		color: white; 

	}

	header nav>ul>li:last-child>a{
		margin-right: 0;		
	}
	
	header nav ul ul{
		display: none;
		width:186px;
		position: absolute;
		left:0;
	}
	header nav ul ul:hover,header nav>ul>li>a:hover+ul{
		display: block;	 
	}

	header nav>ul>li>ul>li{
		list-style: none;
	}
	header nav>ul>li>ul>li>a{
		display:block;
		height:45px;
		width:186px;
		border:1px solid red;

		border-top:none;
		text-decoration: none;
		font-family: Arial;
		font-size: 70%;
		line-height: 45px;
		text-transform: uppercase;
		color: red;

	}
	header nav>ul>li{
		display: inline-block;
		position: relative; /* - Referência para posicionamento sub-menus - */
		height: 45px;
		list-style: none; /* http://www.w3schools.com/cssref/pr_list-style.asp */
	}
	header nav>ul>li>a{
		display: block;
		height: 45px;
		width: 180px;
	}

	/* ---------- Tabelas ---------- */

	table{
		border-collapse: collapse;
		border-color: black;
	
	}
	td,th{
		padding:12px;
	}

	/* ---------- Linhas Pares ---------- */

	tr:nth-child(2n){
		background-color: white;
		color: black;
	}

	/* --------- Linhas Ímpares -------- */

	tr:nth-child(2n+1){
		background-color: grey;
		color: black;
	}
	tr:hover{
		background-color: lime;
		color: black;
	}
	#tbls table:nth-child(4n){
		float:left;
		position:absolute;
		margin-left: 40%;
	}
	#tbls table:nth-child(12){
		float:none;
		position:relative;
	}
	#tabex2, #tabex4{
		position: relative;
		margin-left: 40%;
		top:-40px;
	}
	#tbls table:nth-child(4n+2){
		position:relative;
		margin-left: 40%;
		margin-top: -40px;
	}
	/*#tbls>h4>tr{
		text-align: center;
	}*/ 

	

	



	








